@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'raleway';
  src: url('/public/assets/fonts/raleway.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('/public/assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/public/assets/fonts/Roboto-Thin.ttf');
  font-weight: thin;
}


@font-face {
  font-family: 'roboto';
  src: url('/public/assets/fonts/Roboto-Medium.ttf');
  font-weight: medium;

}